projects partial
<br>
Brew Keeper:
<a href="http://www.brew-keeper.com">Live</a>
<a href="https://github.com/Brew-Keeper/brew-keeper-gui">Code</a>
<br>
<br>
Chessboard:
<a href="http://s4dmw.github.io/TIY-Chessboard/">Live</a>
<a href="https://github.com/s4dmw/TIY-Chessboard">Code</a>
<br>
<br>
Multi Column Form:
<a href="http://s4dmw.github.io/TIY-Assignments/MultiColumnForm/">Live</a>
<a href="https://github.com/s4dmw/TIY-Assignments/tree/master/MultiColumnForm">Code</a>
Drop Down Menu:
<a hrefe="http://s4dmw.github.io/TIY-Assignments/DropDownMenu/">Live</a>
<a href="https://github.com/s4dmw/TIY-Assignments/tree/master/DropDownMenu">Code</a>
