nav#menu {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid lightgray;
  font-size: .75em;
  font-weight: bold;
  letter-spacing: .2em;
  padding-bottom: 1em;
  a {
    text-decoration: none;
    color: gray;
    margin-right: 5%;
  }
  a:hover {
    color: black;
    border-bottom: 3px solid black;
    padding-bottom: 1em;
  }
}
